.image-cover {
    max-width: 500px;
    max-height: 500px;
    display: flex;
    flex-direction: column;
}

.image {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.image-title {
    text-align: center;
    font-size: 17px;
    color: #fff;
    margin-bottom: 10px;
}

.loading {
    color: #fff;
    font-size: 24px;
    text-align: center;
    padding: 20px 0;
}