* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    background-color: #000000;
    padding: 20px 20px;
}

.title {
    color: #faebd7;
    font-size: 34px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 20px;
}

.images-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.no-more {
    color: #fff;
    font-size: 24px;
    text-align: center;
    padding: 20px 0;
}